/*-- scss:defaults --*/
$link-color: #fabd2f;
$primary: #ffffff;
$body-color: #3c3836;


// fonts
/* Garbata */ @font-face {
    font-family: 'Garbata';
    src: url('fonts/garbata/garbata-regular.ttf') format('truetype');
}

/* Webfont: Reforma2018 Blanca */ @font-face {
    font-family: 'Reforma2018';
    src: url('fonts/reforma/Reforma2018-Blanca.woff2') format('woff2'), /* /* Super Modern Browsers */
         url('fonts/reforma/Reforma2018-Blanca.woff') format('woff'), /* Modern Browsers */
         url('fonts/reforma/Reforma2018-Blanca.eot') format('woff'),
         url('fonts/reforma/Reforma2018-Blanca.ttf') format('truetype');	 /* Safari, Android, iOS */
    font-style: normal;
    font-weight: 300;
    text-rendering: optimizeLegibility;
}


/* Webfont: Reforma2018 BlancaItalica */ @font-face {
    font-family: 'Reforma2018';
    src: url('fonts/reforma/Reforma2018-BlancaItalica.woff2') format('woff2'), /* /* Super Modern Browsers */
         url('fonts/reforma/Reforma2018-BlancaItalica.woff') format('woff'), /* Modern Browsers */
         url('fonts/reforma/Reforma2018-BlancaItalica.eot') format('woff'),
         url('fonts/reforma/Reforma2018-BlancaItalica.ttf') format('truetype');     /* Safari, Android, iOS */
    font-style: italic;
    font-weight: 300;
    text-rendering: optimizeLegibility;
}

/* Webfont: Reforma2018 Gris */ @font-face {
    font-family: 'Reforma2018';
    src: url('fonts/reforma/Reforma2018-Gris.woff2') format('woff2'), /* /* Super Modern Browsers */
         url('fonts/reforma/Reforma2018-Gris.woff') format('woff'), /* Modern Browsers */
         url('fonts/reforma/Reforma2018-Gris.eot') format('woff'),
         url('fonts/reforma/Reforma2018-Gris.ttf') format('truetype');	 /* Safari, Android, iOS */
    font-style: normal;
    font-weight: 500;
    text-rendering: optimizeLegibility;
}

/* Webfont: Reforma2018 GrisItalica */ @font-face {
    font-family: 'Reforma2018';
    src: url('fonts/reforma/Reforma2018-GrisItalica.woff2') format('woff2'), /* /* Super Modern Browsers */
         url('fonts/reforma/Reforma2018-GrisItalica.woff') format('woff'), /* Modern Browsers */
         url('fonts/reforma/Reforma2018-GrisItalica.eot') format('woff'),
         url('fonts/reforma/Reforma2018-GrisItalica.ttf') format('truetype');     /* Safari, Android, iOS */
    font-style: italic;
    font-weight: 500;
    text-rendering: optimizeLegibility;
}

/* Webfont: Reforma2018 Negra */ @font-face {
    font-family: 'Reforma2018';
    src: url('fonts/reforma/Reforma2018-Negra.woff2') format('woff2'), /* /* Super Modern Browsers */
         url('fonts/reforma/Reforma2018-Negra.woff') format('woff'), /* Modern Browsers */
         url('fonts/reforma/Reforma2018-Negra.eot') format('woff'),
         url('fonts/reforma/Reforma2018-Negra.ttf') format('truetype');	 /* Safari, Android, iOS */
    font-style: normal;
    font-weight: 700;
    text-rendering: optimizeLegibility;
}

/* Webfont: Reforma2018 NegraItalica */ @font-face {
    font-family: 'Reforma2018';
    src: url('fonts/reforma/Reforma2018-NegraItalica.woff2') format('woff2'), /* /* Super Modern Browsers */
         url('fonts/reforma/Reforma2018-NegraItalica.woff') format('woff'), /* Modern Browsers */
         url('fonts/reforma/Reforma2018-NegraItalica.eot') format('woff'),
         url('fonts/reforma/Reforma2018-NegraItalica.ttf') format('truetype');     /* Safari, Android, iOS */
    font-style: italic;
    font-weight: 700;
    text-rendering: optimizeLegibility;
}

$font-family-sans-serif: "Reforma2018", sans-serif !default;

// colors
$body-bg: #ffffff !default;
$body-color: #3c3836 !default;
$link-color: #fabd2f !default;
$selection-bg: #fabd2f !default;
$red: #cc241d;
$green: #98971a;
$yellow: #fabd2f;
$blue: #458588;
$purple: #b16286;
$aqua: #689d6a;
$gray: #a89984;
$theme-orange: #fabd2f;

/*-- scss:rules --*/

.layout-example {
  background: $gray-500;
  color: $white;
  text-align: center;
  margin-bottom: 1em;
  font-family: $font-family-monospace;
  font-size: .875em;
  font-weight: 600;
  padding-top: 1em;
  border-radius: 3px;
}

.left {
  text-align: left;
  padding-left: 1em;
}

.right {
  text-align: right;
  padding-right: 1em;
}

.hello-quarto-banner h1 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

h1, h2, h3, h4, .navbar-title {
  font-family: Garbata;
  text-transform: uppercase;
}

p, li, tb, td, .csl-entry {
  font-weight: 300 !important;
}

.sidebar-item-text {
  text-transform: uppercase;
  font-weight: 500 !important;
  font-size: 12px;
}

.text-start {
  font-weight: 700 !important;
}